.card {
  margin: 20px;
  margin-left: 20px;
  margin-right: 0px;

  padding: 10px;

  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 258px;
  height: 72px;
  border-radius: 16px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.row {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
}

.textContainer {
  flex-direction: column;
}

.rootText {
  color: #fff;
}

.dataText {
  color: #fff;
  font-weight: bold;
}

.dataCount {
  color: #fff;
}