.date-selector-container {
  display: flex;
}

.react-datepicker-wrapper input[type="text"] {
  border: none;
}

.start-date-selector {
  border-radius: 16px;
  border: none;
}

.finish-date-selector {
  border-radius: 16px;
  border: none;
}

.MuiFormControl-root {
  background: rgba(255, 255, 255, 0.65);
}
