.App {
  display: flex;
}

.sidebar {
  width: 15%;
}

.main {
  background-color: #F8EDC8;
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-weight: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}